#!/bin/bash

echo "Creating a consumer. Please start a producer in a different node and write some messages."

/usr/local/etc/kafka/bin/kafka-console-consumer.sh --zookeeper 127.0.0.1:2181 --topic test --from-beginning